[2016-03-22 12:07] pbuttigieg opened #1 "Create GAZ webpages"
Cross-reference https://github.com/EnvironmentOntology/envo/issues/313.
Centralise any GAZ descriptions and material here.
An initial landing page is available at: http://environmentontology.github.io/gaz/

[2018-03-27 11:09] VarshaKhodiyar opened #2 "Rename South Africa GAZ:00000553"
I would like to request this term is renamed as
'Southern Africa' GAZ:00000553
to avoid confusion with the country commonly known as 'South Africa'.

If it's not possible to rename this, suggest adding Southern Africa as a synonym.

Thanks,
Varsha

[2018-03-28 02:07] cmungall opened #3 "Upload all of GAZ to wikidata"
We don't have resources to update gaz.obo. Unless we can find a volunteer it may make most sense to upload to wikidata and have people update on wikidata (having a way to export a gazetteer in obo or owl from wikidata will be easy).

If people are in favor I can look to getting some tips on how best to do this

[2018-03-28 10:43] pbuttigieg commented on #3
Given the amount of country and regional data in the wikidata system, I think this is a viable option, especially if we can somehow link the existing GAZ IDs to the WD entries. It may hurt the semantic rigor of GAZ a bit, but perhaps this can be mitigated by linking the GAZ/WD instances to ENVO classes.

We should consider circulating a link to this issue via some general mailing lists, just to be

[2018-03-29 17:47] cmungall commented on #3
Yes, we should definitely link the WD instances to their types. As a first step I got an ENVO ID property registered in WD. Next is to upload the core ENVO graph (facilitated by https://github.com/EnvironmentOntology/envo/issues/600).

I think WD would be open to including a lot of the GAZ relationship types in. There are already some cognates of the RO relations in there, e.g. [tributary](https:/

[2018-03-29 17:56] lschriml commented on #3
Have you contacted Michael Ashburner about GAZ, I developed it with him.
If he is not able, or does not wish to, I will volunteer to take care of the GAZ.
And can coordinate other volunteers to work on the GAZ.

And I can work with Andrew Su/Wikidata for integration options, as we are already working together.

Cheers,
Lynn

[2018-04-01 20:01] cmungall commented on #3
Unfortunately Michael isn't able to develop it any further.

It would be great to have you as the caretaker, and coordinate with Andrew and others on wikidata integration, thanks!

For short term management of the gaz edit file this old thread may be useful:

http://gmod.827538.n3.nabble.com/cv-relationships-td4039290i20.html#a4042423

[2018-04-02 14:30] mjy commented on #3
We spent a lot of time integrating just a couple gazeteers with GIS layers (GADM, Natural Earth, TDWG hierarchy), in a relational DB format,  the "normalization" is seriously non-trivial, and it never ends.

I too question whether a ontology is the right solution for these data. Wiki-data, assuming it can handle the shape data, may be a good solution, but even there it will likely fail unless the

[2018-04-02 19:14] lschriml commented on #3
Sounds good Chris.

Have you and Suzi been in touch with Michael ?
I am happy to work on this, great to keep this moving forward.

Cheers,
Lynn

[2018-04-03 15:43] Public-Health-Bioinformatics commented on #3
Happy to hear GAZ could be synchronized with an updated resource like Wikidata.

I would put in a plug for linking countries like Yugoslavia as historic/archaic, perhaps using "instance of"
"historical country" as wikidata does (so I can avoid including them in selection lists). Also would be great to take in GeoNames ids via wikidata as that is the other comprehensive open source resource I've se

[2018-04-03 18:27] mjy commented on #3
@Public-Health-Bioinformatics I agree that kind of reasoning might be useful, but your examples are getting exactly to my point.

All ontologies come with certain learning curve, what are the concepts, how are they organized, are they complete, when were they updated etc.  While there is certainly a fairly steep learning curve behind the kinds of ways we can represent a GIS layer/shape, once we ha

[2018-04-04 18:51] Public-Health-Bioinformatics commented on #3
I get that - I wouldn't look to OWL logic + GAZ to do what GIS queries do even if GAZ had lat/lon.  For biosample descriptions though, it would be great to have comprehensive ontology identifiers for municipal and other levels of govt. such that they map over exactly to an updated GIS database of such things. For those users needing to enter lat/lon (e.g. for NCBI biosample data requirements), thi

[2018-05-21 14:07] VarshaKhodiyar opened #4 "NTR: North Sea coastal waters of Belgium"
Suggest new term
"North Sea coastal waters of Belgium"

as sibling of
North Sea coastal waters of Norway  GAZ:00144350
North Sea coastal waters of Denmark  GAZ:00144351
North Sea coastal waters of the United Kingdom  GAZ:00144349

Thanks,
Varsha

[2018-09-13 14:44] VarshaKhodiyar opened #6 "NTR: Ankeniheny-Zahamena Corridor"
NTR: Ankeniheny-Zahamena Corridor
Defn: links Zahamena National Park (GAZ:00076565) and Andasibe-Mantadia National Park  (GAZ:00005428)

[2018-09-13 15:17] mpoudyal commented on #6
Ankeniheny-Zahamena Corridor (CAZ) is one of the newly established protected areas in Madagascar (formally gazetted in 2015 - [Conseil du Gouvernement - Mardi 28 Avril 2015](http://www.metfp.gov.mg/CONSMIN/conseil_gouvernement.html)). It includes one of the largest remaining rainforest patches in eastern Madagascar and connects a number of existing National Parks and Reserves, including Zahamena,

[2018-09-23 16:06] pbuttigieg commented on #6
Greetings all,  this should be an instance of [`ecological corridor`](http://purl.obolibrary.org/obo/ENVO_01000930).

@lschriml is now chief editor for GAZ and will pick up this request. Lynn, please let me know if you need some assistance from the ENVO side. If you need more time to get your team working in GAZ, we can create a temporary term in ENVO (not desirable, but can help with timeliness).

[2018-09-25 17:35] lschriml commented on #6
Hello @mpoudyal -- thank you for the update.
I am just getting GAZ v2 up and running.
Still working out where to host, due to it's large size.

I'll add an update here shortly.

Cheers,
Lynn

[2018-09-25 17:36] lschriml commented on #4
Thank you !!
I will take a look and get this added.
Cheers,
Lynn

[2018-10-02 13:05] pbuttigieg opened #7 "NTRs: names for experimental field sites"
From https://github.com/EnvironmentOntology/envo/issues/601

@richardostler requested some guidance on adding instances for "experimental field".

@richardostler  Could you list the names of these sites here and some definitions regarding their location and boundaries?

@lschriml we'll add the general class for "experimental field" to ENVO under which the GAZ instances can be placed after their cr

[2019-04-07 18:25] ddooley opened #8 "Update OBOFoundry home page link for GAZ tracker"
Currently it is pointing to the ENVO issues list rather than the new GAZ location:
https://github.com/EnvironmentOntology/gaz/issues

[2019-04-07 18:34] ddooley opened #9 "Request GAZ class "State (United States of America)""
GAZ has state classes for Mexico, Australia etc. Can we get this for the US to provide easy menu selection? Wikipedia def seem fine:

label: "State (United States of America)"
definition: "In the United States, a state is a constituent political entity, of which there are currently 50. Bound together in a political union, each state holds governmental jurisdiction over a separate and defined geogr

[2019-04-07 18:37] pbuttigieg commented on #8
Thanks @ddooley ! Created the PR above

[2019-04-07 18:39] ddooley opened #10 "GAZ is importing lots of ENVO, which is importing lots of FOODON?"
GAZ is importing lots of ENVO, which is importing lots of FOODON?
See http://www.ontobee.org/ontology/GAZ?iri=http://purl.obolibrary.org/obo/FOODON_00002451

[2019-04-07 18:41] pbuttigieg commented on #10
@ddooley thanks for the input, but could you make your issue title more succinct? Also, what is the actual suggestion?

[2019-04-07 18:43] pbuttigieg commented on #10
The import chain is very strange - I'm not sure what GAZ needs with the environmental process branch at all.

@lschriml we should branch this into another issue dedicated to cleaning up GAZ's import chain.

[2019-04-07 18:43] ddooley opened #11 "Marking countries like Yugoslavia as historic/archaic"
In order to avoid including archaic nations in a "nation" selection list, we need an object property for marking them as such, perhaps using "instance of" "historical country" as wikidata does?

[2019-04-07 18:45] pbuttigieg commented on #11
Thanks again @ddooley!

@cmungall @lschriml
I think this is another reason to merge/integrate with wikidata - keeping up with these things is vitally important for many GAZ users. Historically, this may not have been the case due to GAZ's application range in biology. Now, however, we have a larger user base.

[2019-04-07 18:45] ddooley commented on #10
Yes, I'm not sure how extensive the problem is, but for a start I presume "environmental system process" should not be imported into GAZ.

[2019-04-07 18:54] ddooley opened #12 "GAZ national populated place classes should cover municipalities?"
For example, GAZ "populated place, Brazil" http://purl.obolibrary.org/obo/GAZ_00002831) lists 35 places, while https://en.wikipedia.org/wiki/Municipalities_of_Brazil lists 5,570 municipalities.

Perhaps a wikidata integration could resolve this, or a geonames integration?  Our use case is that we have some dynamic lookup trying to fetch the municipality for a user to specify a biosample location.

[2019-04-07 19:03] ddooley commented on #9
Also note this thread: https://github.com/EnvironmentOntology/envo/issues/514
Basically, a text mining script is being run on OBOFoundry / Ontobee version of GAZ which is associating any label that has "state" in it to ENVO "national geopolitical entity"
http://www.ontobee.org/ontology/GAZ?iri=http://purl.obolibrary.org/obo/ENVO_00000009

Hence the one extra line above in adjustment SPARQL query:

[2019-04-07 19:04] ddooley opened #13 "GAZ "JIle uan de Nova" label needs fix"
"JIle uan de Nova" label for http://purl.obolibrary.org/obo/GAZ_00005809 should be "Ile Juan de Nova". http://en.wikipedia.org/wiki/Juan_de_Nova_Island

[2019-04-07 19:10] ddooley opened #14 "GAZ hasDbXref to ISO_3166 countries"
GAZ offers up these database cross references for, e.g. Belgium

"hasDbXref": [
                    "ISO3166-1:BE",
                    "ISO3166-2:BE",
                    "ISO3166-1:BEL",
                    "ISO3166-1:056"
]
But there are actually sub-categories of ISO3166-1, and that's why what looks like a 1-many mapping is actually 1-1 if subcategory is taken into account. I'm not sure how ex

[2019-04-07 19:12] ddooley opened #15 "GAZ to INSDC country list mapping"
In an effort to comply with INSDC reporting of sample location by country, we have created a mapping of GAZ country & region codes to their INSDC counterparts at http://www.insdc.org/country.html by using a hasDbXref:INSDC:country:[xyz] annotation on the appropriate GAZ item. Is the GAZ team interested in adding these annotations directly to GAZ? If so we have the .owl import file containing the a

[2019-04-07 19:15] ddooley opened #16 "Explanatory document for newbies"
GAZ needs an explanatory document for newbies – how to get a country's 2nd level subdivisions, whether they are states/provinces/territories/regions etc. and the linkage between geopolitical levels of government entities using "located in".  Same for municipalities, villages, ENVO human habitation etc… Unless there is some documentation about this that I don't know about?

[2019-04-08 09:28] cmungall commented on #16
Yes! This is something that can be done independent on tackling the bigger
Q of how GAZ should be maintained. I suggest either (1) putting all this in
the main README.md or (2) using the wiki on this GH repo. Either way the
text will be markdown and can easily be transferred.

On Sun, Apr 7, 2019 at 8:15 PM Damion Dooley <notifications@github.com>
wrote:

[2019-04-08 16:18] rctauber opened #17 "Add synonym to GAZ:00001099"
Add synonyms 'Eswatini' and 'Kingdom of Eswatini' to `GAZ:00001099` (Swaziland): https://en.wikipedia.org/wiki/Eswatini

[2019-04-28 02:42] cmungall opened #18 "GAZ license"
Looks like in this repo and in the OBO metadata GAZ is asserted to be CC-BY:

https://github.com/OBOFoundry/OBOFoundry.github.io/commit/27de0327bac9e00a7ef9e1d63cacb93d8d2878d8#diff-55585add55c612de501c3934421cb36c
(wasn't part of a PR or issue)

I think this requires further discussion

[2019-04-28 02:43] cmungall commented on #18
My own vote would be for CC-0. If this cannot be done then I would like to see a CC-0 subset that can be loaded into Wikidata

[2019-04-28 10:19] pbuttigieg commented on #18
+1 for CC-0

[2019-04-28 13:21] rctauber opened #19 "Replace obsolete 'lava field' (ENVO:00000095)"
Replace old `ENVO:00000095` with new `ENVO:01000437` (also lava field).

It's currently in use in the following country subsets (which I'll be pushing shortly):
* Canada
* Guatemala
* Nicaragua
* United States of America

[2019-04-28 16:42] pbuttigieg commented on #19
If you need more ENVO classes or changes, please do post on our tracker!

[2019-04-28 16:45] pbuttigieg commented on #16
+1

[2019-04-28 17:42] lschriml commented on #18
Yes, that is the license I chose for GAZ.

Lynn

Sent from my iPhone

[2019-04-28 17:44] lschriml commented on #16
Good idea !!

Sent from my iPhone

[2019-04-28 17:46] lschriml commented on #19
Thank you Becky !!

Sent from my iPhone

[2019-04-28 18:08] lschriml commented on #18
When I was asked to put up the repo, this was part of the task. The license aligns with the other OBO projects.

If GAZ gets added to Wikidata it could be CC0.

I’ve not seen a ticket regarding GAZ being added to Wikidata.

What is the plan ?
Who is working on it, and who will be responsible for coordinating ongoing work with Wikidata once GAZ is added ?

Are there other projects in the works for

[2019-04-28 21:35] pbuttigieg commented on #18
@lschriml : I think we should make the move to CC-0 here and in ENVO regardless of the relationship to Wikidata. The nature of ontology content makes CC-BY impractical (e.g. attributing IRIs? To whom? With what technical overhead? )

The discussion on linking with Wikidata should be developed in a separate issue, perhaps #3. If we have solid documentation, the Wikidata user/editor community itself

[2019-04-28 21:50] pbuttigieg commented on #18
Xref https://github.com/OBOFoundry/OBOFoundry.github.io/issues/285 https://github.com/EnvironmentOntology/envo/issues/600

[2019-04-29 00:13] lschriml commented on #18
I’m fine with CC0

I’ll make the change.

Agreed:
Let’s get the Wikidata work documented in a separate ticket.

Cheers,
Lynn

Sent from my iPhone

[2019-04-29 14:45] cmungall opened #20 "Proposal: convert GAZ to an instance-based representation"
Currently GAZ is represented as all classes. E.g. Andorra is a class. Clearly this is not correct, but it's well-known that the reason for this choice is purely pragmatic - Michael would edit in Obo-Edit, which only handles classes.

I propose the following:

 * gaz.owl is converted to an instance-based representation
 * gaz.obo is converted to classes in the release process (instances are not wel

[2019-04-29 14:47] cmungall commented on #16
This will be dependent on #20

Any documentation we write on how to do this on the class representation will not be applicable to the instance one

[2019-04-29 14:50] cmungall opened #21 "Decide how to modularize GAZ such that individual subsets can be managed in github"
* What source format? .obo is easy for diffing but this assumes we don't convert to instances. Dependency on #20
 * How do we modularize? We need a set of mutually exclusive exhaustive categories. If this is not possible we need an agreed upon prioritization to detemine which entity belongs in which module
 * How do we determine the initial conversion is not lossy?
    * robot diff doesn't scale

[2019-04-29 15:21] cmungall commented on #20
Note @rctauber has made a start at modularization:

https://github.com/EnvironmentOntology/gaz/tree/master/src/ontology/subsets

e.g.

https://github.com/EnvironmentOntology/gaz/blob/master/src/ontology/subsets/countries/Andorra.owl

[2019-04-29 15:34] beckyjackson commented on #20
Interestingly, a lot of the entities in GAZ are both classes and instances, which gets quite weird. The 'located in' axioms are on the instances. There are some subclass axioms, I believe mostly under populated places.

Anyway, I say +1 to moving entirely to instances. We could run SPARQL UPDATE to convert? I haven't thought much about that though.

[2019-04-29 16:16] cmungall commented on #20
__UPDATE__ I just remembered gaz.owl is already instance-based, using a transformation I made possibly a decade ago...

[code]

Also sometimes punning is induced:

[code]

Looks like OLS loads the obo

OntoBee loads the OWL, however, it doesn't show instance-instance connections, so things look sparse:

http://purl.obolibrary.org/obo/GAZ_00004906

[2019-04-29 16:22] cmungall commented on #20
My comment crossed with Becky's who noticed the weirdness

It's not a completely straightforward transform, since there are some class-like things in GAZ:

https://www.ebi.ac.uk/ols/ontologies/gaz/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FGAZ_00051071

https://www.ebi.ac.uk/ols/ontologies/gaz/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FGAZ_00000869

![image](https://user-images.git

[2019-04-29 16:24] cmungall opened #22 "Determine who is using GAZ and how it is being used"
Anyone using GAZ, please add comments to this ticket!

[2019-04-29 19:02] #8 closed

[2019-04-30 13:44] pbuttigieg opened #23 "Module priority: Oceans and seas"
Related to #4

@rctauber @lschriml : It would be fantastic if modules for oceans and seas could be released.
We'd readily use them in the [UNESCO/IOC Ocean Best Practices System](www.oceanbestpractices.org).

[2019-04-30 18:17] jamesaoverton commented on #22
IEDB uses GAZ to build a list of countries that we care about and organize them under a shallow hierarchy. The code is here: https://github.com/IEDB/GAZ

[2019-04-30 18:56] cmungall commented on #1
Looks like we are using the gh-pages branch, which was the way to do it in 2016. I favor switching to using the `doc` folder which is easier

[2019-04-30 19:49] ddooley commented on #22
We're using GAZ in a few ontology projects: As a standard vocabulary for 1st order, 2nd order etc government: countries, provinces, states, territories and regions and municipalities.  This is used in our Genomic Epidemiology Ontology (GenEpiO) to provide pick-lists for reporting outbreak cases; to describe patient nationalities, country of birth, and travel patterns, and eventually food traceabil

[2019-04-30 22:17] kaiiam commented on #23
Planet Microbe, a community marine 'omics cyberinfrastructure system is already making use of other OBO ontologies to integrate data, would absolutely make use of GAZ oceans and seas modules.

[2019-05-01 01:17] cmungall commented on #21
@rctauber how were you planning to split things into modules? I see you have breakdown by country just now. Do you include everything that is located in a country, including geographic features such as lakes, rivers and the like? What bout features that overlap two countries?

[2019-05-01 09:02] beckyjackson commented on #21
The country modules are everything that is related by either located_in or subClassOf. I'm not sure how overlapping features are handled currently in GAZ, but the modules would reflect that.

We originally discussed starting with countries, then expanding to other subsets like oceans and seas.

But, if overlapping features appear in multiple modules (and I imagine there will be overlap between thi

[2019-05-02 12:17] pbuttigieg opened #24 "Geographic relations"
Hi all, branching off of #21

GAZ will inevitably need some more geographically themed relations in RO, linked to issues such as
https://github.com/EnvironmentOntology/envo/issues/80, https://github.com/EnvironmentOntology/envo/issues/148

Many existing spatial relations coming in from biology and anatomy can be used if their definitions are generalised a bit or if more general superclasses are cr

[2019-05-02 12:18] pbuttigieg commented on #21
@rctauber

As long as they're of different types, I think there shouldn't be conflicts in the subClassOf hierarchies. The [RO:overlaps](http://purl.obolibrary.org/obo/RO_0002131) relation and its subproperties can be (is?) used to assert this sort of mereotopology. Even if these are in different modules, this should hold as long as there are some checks in place to make sure classes/instances are

[2019-05-02 15:43] pbuttigieg commented on #20
The biogeographic regions are pertinent to some classes we've been incubating in ENVO. See https://github.com/EnvironmentOntology/envo/issues/658

I'll create a new issue about that, but what's relevant here is that, in general, ENVO should provide the classes for GAZ instances. @rctauber feel free to request such classes if they're missing.

[2019-05-02 15:46] pbuttigieg opened #25 "Biogeographic regions"
Hi @EnvironmentOntology/gaz-editors , branching from #20:

While GAZ was dormant, we incubated a few WWF ecoregions in ENVO. See https://github.com/EnvironmentOntology/envo/issues/658

When you get to those modules, let us know and we'll obsolete our instances and point to GAZ instances.

As ENVO is meant to provide the classes for GAZ's instances, do let us know if you need more content ENVO side

[2019-05-02 18:02] pbuttigieg commented on #24
@mpsaloha reminds me that GeoSPARQL should be cross-referenced and contacted here: https://www.opengeospatial.org/standards/geosparql

[2019-05-02 18:09] cmungall commented on #24
Sounds good

We're already sharing some relations across anatomy and geography, e.g. tributary of. Some may be skeptical about abstracting at this level but it seems to work so far.

[2019-05-02 18:09] cmungall commented on #24
We should also axiomatize in terms of spatial regions so that symbolic relations can be inferred from shape files etc

[2019-05-02 18:11] pbuttigieg commented on #24
This would make bridging to the GIS world much easier.

[2019-05-03 19:10] lschriml commented on #18
license updated in OBO Foundry:
 url: https://creativecommons.org/publicdomain/zero/1.0/
  label: CC0 1.0 Universal

[2019-05-03 19:12] #18 closed

[2019-05-04 02:37] beckyjackson commented on #23
Happy to work on this next week. My biggest concern is figuring out how to handle development with overlapping modules, but regardless of that, these modules will be straightforward to create.

[2019-05-04 15:26] beckyjackson commented on #23
Please see: https://github.com/EnvironmentOntology/gaz/tree/master/src/ontology/subsets/oceans_and_seas

[2019-05-04 21:05] pbuttigieg commented on #23
Many thanks @rctauber

[2019-05-06 15:21] beckyjackson commented on #21
What about the 'located in' hierarchies, though? The modules include subclasses and located in. For example, say a river is located in two countries and we need to update the label of that river. Even if we check for 'overlaps', how do we know which one is newer? I guess I could write a script that takes the changes from the most-recently updated modules but it may get complicated.

Before we tack

[2019-05-07 01:21] cmungall opened #26 "Create unique names for entities"
A long time ago I had a discussion with Michael about entity names. GAZ stood in contrast to everything else in OBO that had largely unique names.

He convinced me that it was fine in GAZ to have many entities in GAZ share the same name. However, it might be nice to create a unique obo foundry unique label for all entities.

An important note that will hopefully become stale soon. In previous vers

[2019-05-07 01:29] cmungall commented on #21
@rctauber

Not sure if I am totally following. This issue is about modularization rather than labels, it sounds like you may also be making unique labels? (see #26).

But in answer to the main question, it should not be possible for an entity to be in RO:located-in two locations where those locations do not overlap (by definition). Thus if we choose non-overlapping units as the modules and placeme

[2019-05-07 01:33] cmungall commented on #21
Let me also state a few assumptions to check I'm on the same page as everyone:

 * I assume there will a one-time conversion of the current gaz source into a modular RDF representation in github
 * Editors will edit individual module files using Protege
 * A custom release process will build a complete gaz.owl and gaz.obo file and these will be distributed by a mechanism OTHER than github raw file

[2019-05-07 01:40] ddooley commented on #26
I can say the duplicate name issue is fixed in Protege - Protege now provides term id alongside any duplicate labels for entities in the interface.  Really helpful.

[2019-05-07 02:00] cmungall commented on #26
ok good, we should make sure to specify a minumum protege version in the
editor docs

[2019-05-07 13:35] beckyjackson commented on #21
Sorry, I wasn't super clear. I was just using that as an example if we wanted to update the label of an entity that existed in two modules. This wouldn't be a problem if we are able to define non-overlapping modules, as you suggest above.

I agree with your stated assumptions.

[2019-05-08 17:26] kaiiam commented on #23
Out of curiosity, do you think there could be any scope to link GAZ to the [Marine Regions Gazetteer](http://marineregions.org/) it's a pretty extensive resource which has term hierarchies for ``Large Marine Ecosystems of the World``, ``Longhurst Provinces`` etc.

[2019-05-08 17:31] lschriml opened #27 "Coordinating and Prioritizing tasks for GAZ"
I would like to plan a meeting of the GAZ group, to prioritize
tasks and to determine who will carry out the work, and take
responsibility for the various tickets.

Please indicate your availability in this ticket, so that we can coordinate a call for
early June.

Lynn: On travel May 15-29, fairly open schedule first two weeks of June.

Cheers,
Lynn

[2019-05-08 17:51] ddooley commented on #27
How about a doodle poll?  could get gnarly eyeballing the timezones!

[2019-05-08 17:54] beckyjackson commented on #27
+1 to a doodle poll!

[2019-05-08 19:27] lschriml commented on #27
Great, please send out the doodle poll to the group.

On Wed, May 8, 2019 at 1:51 PM Damion Dooley <notifications@github.com>
wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sciences
University of Maryland School of Medicine
Department of Epidemiology and Public Health
670 W. Baltimore St., HSFIII, Room 3061
Baltimore, MD 21201
P: 410-706-6776 |  F: 410-706-6756
lschrim

[2019-05-08 20:30] ddooley commented on #27
The Doodle: https://doodle.com/poll/ufd7cuufspwttt37

I've assumed viable times will be in the 8am-10am Pacific daylight range, and end of workday in Europe. In June 3-7, 10-14 range.

[2019-05-08 21:12] lschriml commented on #27
Thank you Damion !!

On Wed, May 8, 2019 at 4:30 PM Damion Dooley <notifications@github.com>
wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sciences
University of Maryland School of Medicine
Department of Epidemiology and Public Health
670 W. Baltimore St., HSFIII, Room 3061
Baltimore, MD 21201
P: 410-706-6776 |  F: 410-706-6756
lschriml@som.umaryland.edu

[2019-05-09 02:22] stevenchong commented on #27
Mark Schildhauer (@mpsaloha ) would also like to participate.  Could you please add him to the list of assignees so that he receives updates?  Thanks!

[2019-05-09 03:10] ddooley commented on #27
So only 10 assignees get put on. if @mpsaloha  can follow this he can receive updates?  Also if you give me his email address I can add it to doodle.

[2019-05-09 04:18] stevenchong commented on #27
Thanks, Damion. It's `schild@nceas.ucsb.edu`.

[2019-05-09 14:51] cmungall commented on #27
Note: no need to add to list of assignees. Anyone can subscribe to this issue to receive updates, click here:

![image](https://user-images.githubusercontent.com/50745/57463099-02f2b280-722f-11e9-92d0-bce3193cc3e6.png)

Also he can join the list and we should announce there.

I filled in the poll. Sorry but my availability in translatlantically desirable slots is low...

[2019-05-09 14:59] cmungall commented on #27
Does someone want to start a rolling agenda doc?

Some things to discuss:

 * use of github to organize work via tickets
 * who has resources to help and how will they contribute?
 * strategy for modularization #21
 * wikidata mapping/integration updates (chris)
 * ...

[2019-05-09 15:03] lschriml commented on #27
Great idea Chris,
   Please start the Agenda google doc and add a link in the GAZ ticket.

Cheers,
Lynn

On Thu, May 9, 2019 at 10:59 AM Chris Mungall <notifications@github.com>
wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sciences
University of Maryland School of Medicine
Department of Epidemiology and Public Health
670 W. Baltimore St., HSFIII, Room 3061
Baltimore,

[2019-06-06 16:22] lschriml commented on #27
Leaving ticket open for subsequent meetings.

How often to meet.

Set up doodle poll for next call.  [Damion]

[2019-06-06 16:22] pbuttigieg commented on #23
@kaiiam could you create an independent issue for your [comment ](https://github.com/EnvironmentOntology/gaz/issues/23#issuecomment-490576406) ?

This issue can be closed as @rctauber has created the first pass of the module.

[2019-06-06 16:24] lschriml commented on #26
Chris:
   suggestion - create a property - non-unique label
 - low priority currently

[2019-06-06 16:27] lschriml commented on #22
Action Item: Chris Mungall, -- will send email to the OBO Foundry.

Action Item: Lynn - will examine BioSample - usage of GAZ

[2019-06-06 16:31] lschriml commented on #20
For modularization: using GAZ.owl
   -- Identify classes in the GAZ - auto create definitions for instances
  -- will put this on hold for now.

[2019-06-06 16:35] pbuttigieg opened #28 "Publish subsets aligned to official naming schemes"
Particularly for country names, several groups publish official names that must be used (e.g. [UNGEGN](https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/26th-gegn-docs/WP/WP54_UNGEGN%20WG%20Country%20Names%20Document%202011.pdf), the [UN itself, referencing ISO etc](https://www.un.int/protocol/sites/www.un.int/files/Protocol%20and%20Liaison%20Service/officialnamesofcountries.pdf)).

GAZ should proba

[2019-06-06 16:37] lschriml commented on #12
Villages and town need to be added.

[2019-06-06 16:40] lschriml commented on #12
later: add coordinates, integrate with additional resources

[2019-06-06 16:40] lschriml commented on #12
E.g. African locations, three name strings,

[2019-06-06 17:00] pbuttigieg commented on #19
I'm not going to actually edit the GAZ files at this stage (until there's a working edit model), so I've unassigned myself.

One point that may be helpful for this type of issue:

When we obsolete classes, we use the OBO standard of identifying what should be used instead with either [term replaced by](http://purl.obolibrary.org/obo/IAO_0100001) or [consider](http://www.geneontology.org/formats/ob

[2019-06-06 17:15] ramonawalls commented on #27
Hi all:

I'm totally swamped with a week long course this week, but will look into
this all more next week.

Ramona
------------------------------------------------------
Ramona L. Walls, Ph.D.
Senior Scientific Analyst, CyVerse, University of Arizona
Assistant Research Professor, Bio5 Institute, University of Arizona

On Thu, Jun 6, 2019 at 9:22 AM lschriml <notifications@github.com> wrote:

[2019-06-07 06:20] kaiiam opened #29 "Marine Regions Gazetteer"
Question migrated over from #23

Perhaps lower priority issue for now, but do you think there could be any scope to link GAZ to the [Marine Regions Gazetteer](http://marineregions.org/) it's a pretty extensive resource which has term hierarchies for ``Large Marine Ecosystems of the World``, ``Longhurst Provinces`` etc. This could be quite a useful resource for the Oceans and Seas module.

[2019-06-07 06:21] kaiiam commented on #23
@pbuttigieg issue posted. @rctauber feel free to close as the comment is posted in #29.

[2019-06-07 06:36] cmungall commented on #29
This looks a pretty phenomenal resource. But very hard to automate anything in its current form. It looks like a catalog of HTML links to other resources each with their own formats and download URLs, some requiring entering email etc. I wonder if anyone else has tried mapping these to RDF, or even wikidata. If it was all available in a single structured download it would be much easier

[2019-06-07 07:09] kaiiam commented on #29
@cmungall agreed, it would be a lot of work to do manually. They do have a [webservices page](http://marineregions.org/gazetteer.php?p=webservices) with RESTful and SOAP services. Perhaps that could help to automate it.

[2019-06-07 15:39] cmungall commented on #29
OK, we could get started with mapping their gazetteer types to ENVO:

`curl -L -s http://marineregions.org/rest/getGazetteerTypes.json/ | jq -r '.[] | [.type, .description] | @tsv'`

showing a subset here:

|type|description|
|---|---|
|Town|The lowest administrative unit in Belgium and the Netherlands.|
|Arrondissement|The administrative unit in Belgium that lies between 'Gemeente' and Province.|

[2019-06-07 15:43] cmungall commented on #29
For any of the types you can query:

`http://marineregions.org/rest/getGazetteerRecordsByType.json/Archipelago/0`

gives records like:

[code]

[2019-06-07 15:44] kaiiam commented on #29
@cmungall that sounds like an interesting way to proceed. I'm not sure the extent to which we have ENVO terms to map to such marineregions terms. For example I wasn't able to find OBO equivalents for some of their higher level categories such as ``Longhurst Province`` I suspect we would have to make new ENVO or GAZ terms.

[2019-06-11 05:02] cmungall opened #30 "Ensure non-ascii form of names are present (e.g. umlauts, as in Gurbantünggüt desert)"
Searching OLS for Gurbantünggüt desert returns no results

The term in GAZ is "Gurbantunggut Desert"

https://www.ebi.ac.uk/ols/ontologies/gaz/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FGAZ_00114666

Perhaps the OLS should be enhanced to better be able to search on umlauts

But either way the official name seems to have umlauts, GAZ should have them

I imagine there were issues with umlaut

[2019-06-21 23:02] cmungall commented on #21
@rctauber going back to your comment from May 6. What are your plans for robot templates here?

[2019-06-25 09:08] beckyjackson commented on #21
I don't have templates for the modules right now, but I can always make them if need be. I'm starting to see that ROBOT is having some trouble with any entities that are both named individuals and classes. For example, `GAZ:00005229`:

    <owl:Class rdf:about="http://purl.obolibrary.org/obo/GAZ_00005229">
        <rdfs:label rdf:datatype="http://www.w3.org/2001/XMLSchema#string">Vennesla</rdfs:la

[2019-06-26 15:52] cmungall opened #31 "Catalog all uses of GAZ"
We should catalog all uses of GAZ. This should be limited to actual documented verifiable uses (but it would also be good to collect broader requirements in a google doc)

For details of the format, see the usages field here:

https://raw.githubusercontent.com/OBOFoundry/OBOFoundry.github.io/master/ontology/envo.md

[2019-06-26 15:56] cmungall commented on #31
Dupe with #22

[2019-06-26 15:56] #31 closed

[2019-06-26 15:57] cmungall commented on #22
@lschriml any update on details on whether/how GAZ is used in BioSample (EBI or NCBI)

[2019-06-26 16:07] cmungall opened #32 "Evaluate coverage of GAZ with respect to other resources"
We are currently aligning to wikidata (#3)

It would be useful to see a complete landscape picture of what is covered and not covered in existing resources, alongside any licensing restrictions.

This can help us with prioritizing curation resources - no need to redo what is there in an existing open resources

geonames seems to be CC-BY, so would be no issue in re-using

They have a premium tier

[2019-06-26 17:15] lschriml commented on #22
Yes,
 GAZ has been used in BioSample since it was created.
GAZ is a core term in the MIxS standard.
County field, geographic location.
Also used in QIIME, QITTA, MGRAST, etc -- across GSC-associated projects

On Wed, Jun 26, 2019 at 11:57 AM Chris Mungall <notifications@github.com>
wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sciences
University of Maryland School of

[2019-07-03 17:16] cmungall commented on #3
Just an update on this, I have processed 4k of the 6k+ GAZ entries

High confidence matches here:

https://github.com/cmungall/environments2wikidata/blob/master/matches/align-high-confidence-gaz.tsv

[2019-07-09 19:27] cmungall commented on #27
On the matter of prioritization, everything pretty much hinges on #21 since we can't edit until we modularize

[2019-07-09 19:32] cmungall commented on #21
I agree we should fix the punning first.

My question was more along the lines of what you thought was best for the overall strategy. One possibility would be to maintain the *entire* ontology as a TSV and generate via robot template. I thought you might be thinking along these lines. There would be some definite advantages here. But it could be awkward editing the relational graph. And having mix

[2019-07-09 21:31] beckyjackson commented on #21
My plan was to modularize first, and then determine if we want to move to templates later. So I think we are in agreement there.

I think we should discuss #20 on our next GAZ call and (perhaps) move forward on converting all those into individuals. Then, I could work on building a "bucket" that contains all the terms not in one of the country modules.

[2019-08-01 13:57] beckyjackson commented on #20
We have the class 'populated place, X' and then we have subclasses of that populated place.  For example, 'populated place, Yemen' is both a class and an instance. It has the object property assertion 'located in' Yemen.

All populated places are subclasses of 'populated place, X' AND instances with "located in" object property assertions (but they do not have class assertions). Here, I think it w

[2019-08-01 15:07] ddooley commented on #20
The protege folks (Matthew Horridge) might have a suggestion or be open to changes for improving instance data views, and navigation via 'located in'.  Web protege 5.5 apparently has the facility for navigating via other object relations besides is-a.  (Display relationships section in http://protegeproject.github.io/protege/views/class-hierarchy/ ).  I can picture one extra toggle allowing instan

[2019-08-01 15:11] lschriml commented on #20
Hello Chris,
   What is the driving use case to change the GAZ to instances ?

Lynn

Sent from my iPhone

[2019-08-01 15:13] lschriml commented on #20
What do we gain with the switch to instances ?

Sent from my iPhone

[2019-08-01 15:24] beckyjackson commented on #20
In my opinion, it makes more sense for these to be instances because they are *specific* countries, cities, etc. There's not multiple instances of the city of Paris that is located in France. That said, I'm sure there's an argument for ease-of-use with a class-based representation. Either way, each entity should be one or the other. The fact that most, if not all, of the entities in GAZ are both i

[2019-08-01 16:31] lschriml commented on #20
It’s good we are discussing the options, implementations and downstream impacts.

To do much of this work, practically, we will need other funding sources.

Lynn

Sent from my iPhone

[2019-08-01 16:34] cmungall commented on #20
@rctauber - that plan sounds good. Note that decomposition of pre-composed terms will have some impact on hierarchical browsing, regardless of questions of class vs instance..

Quick summary so far

 - gaz is already mostly instance-based, but there is some punning, which is what this ticket is mostly about, Becky's plan will get rid of this
 - keep as instance-based has multiple advantages, mostl

[2019-08-02 13:05] ddooley commented on #20
I popped the protege class-instance navigation question on https://github.com/protegeproject/protege/issues/912 .

[2019-08-02 15:46] lschriml commented on #20
Great idea !!

Sent from my iPhone

[2019-08-05 00:14] cmungall commented on #3
All 6k entries are now processed!

Around ~167k of fairly high confidence mappings. Note these can act as seed to get more high confidence ones.

https://github.com/cmungall/environments2wikidata/blob/master/matches/align-high-confidence-gaz.tsv

The complete subset of Wikidata in ttl plus all hypothetical matches are stored here:
https://osf.io/unga9/
(upload in progress)

Note we now also have a

[2019-08-08 14:29] TrisSN opened #33 "NRTs:"
We restrict ourselves to GAZ for geographic locations, but frequently bump into the problem of GAZ lacking a global term. Some suggestions:

term: Earth (planet)
mirror from: http://purl.obolibrary.org/obo/OMIT_0018724

term: globe [or, possibly, 'global', though using an adjective doesn't fit with other GAZ terms]

[2019-08-13 16:25] ddooley commented on #20
Really basic question: All geopolitical gaz entities are ultimately sites?  Each site has a context and fiat boundary.  (It may be moving only to the extent that redistricting and plate techtonics allow ;) ).

[2019-09-20 20:45] yongqunh opened #34 "USA and many other GAZ terms are classes & instances simultaneously"
It appears that many GAZ terms like "USA" (http://purl.obolibrary.org/obo/GAZ_00002459) and "geographic location" (http://purl.obolibrary.org/obo/GAZ_00000448) are defined as both classes and instances. This may not be correct.

[2019-09-20 22:38] beckyjackson commented on #34
There is a current discussion in #20 on this issue. I have proposed a solution but have not had any time to work on the implementation.

[2019-12-26 18:48] pbuttigieg commented on #33
We currently link out to wikidata for Earth (as an instance of ENVO:"terrestrial planet")

http://www.ontobee.org/ontology/ENVO?iri=https%3A%2F%2Fwww.wikidata.org%2Fwiki%2FQ2

I think this is sensible as wikidata handles instance-level attributes well, while ENVO can treat the classes more systematically

[2020-01-07 12:10] VarshaKhodiyar commented on #33
Hi Pierre,

Happy New Year!

We'd appreciate Earth as a location being added to the GAZ, since we often deal with global datasets for which the best location is Earth. As Tris mentions we had previously been using the Earth (planet) term from OMIT, but as this is a location we feel that it should be added to GAZ.

We appreciate that ENVO is primarily for classes rather than instances, so we are no

[2020-01-07 12:55] lschriml commented on #33
In addition to Earth,
  We should look at adding off-planet sites, e.g. ISS - International Space Station

Lynn

Sent from my iPhone

[2020-08-07 18:29] cmungall commented on #20
I strongly recommend against modeling *anything* as immaterial entities. This has multiple negative consequences. Certainly the Atlantic Ocean, London, Mt Everest, etc are material. Given the existing part-of and overlaps axioms in GAZ already, OWL inconsistencies will immediately arise if we have a mix of immaterial and material entities.

[2020-08-07 19:37] ddooley commented on #20
I've always struggled with concept of "site".  Seems useful for things like "lung cavity".  It also seemed appropriate for things whose boundaries were arbitrary (politically defined), rather than inherent.  But I see wisdom of avoiding material and non-material stuff together.  Perhaps simply, "a geopolitical reference to some region at any time t is a reference to a material entity as defined po

[2020-12-26 17:58] matentzn opened #35 "GAZ is inconsistent"
In an attempt to set up a uniform set of quality control checks across OBO ontologies, we noticed that GAZ is currently inconsistent. Due to its size, its a bit hard to determine run the reasoner in protege, so here the explanation for the inconsistency:

## [Thing](http://www.w3.org/2002/07/owl#Thing) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

### Reason for inconsistency:

#

[2020-12-27 19:58] cmungall commented on #35
Well this is incoherent regardless of material vs immaterial. There are no
undersea grassland areas.

Gaz should be marked obsolete or at least inactive. We have various plans
to fix it but no resources. We cant in good conscience be recommending
people use it over wikidata. It needs a health warning on the readme and
the obo page

On Sat, Dec 26, 2020, 09:58 Nico Matentzoglu <notifications@github

[2020-12-27 19:59] cmungall commented on #35
I bet anything with range in the definition is similarly misclassified

On Sun, Dec 27, 2020, 11:57 Chris Mungall <cjmungall@lbl.gov> wrote:

[2020-12-29 19:19] matentzn commented on #35
Ouuf sorry you are right; I was  a bit premature only looking at 1 explanation..

The results using 3 explanations look like more individuals can be the cause of the inconsistencies:

## Tualatin Mountains ##

  - [fiat object part](http://purl.obolibrary.org/obo/BFO_0000024) SubClassOf [material entity](http://purl.obolibrary.org/obo/BFO_0000040)
  - [site](http://purl.obolibrary.org/obo/BFO_0000

[2021-02-15 14:23] marcadella commented on #30
Same issue with Norwegian characters æ, ø, å

[2021-02-15 14:27] marcadella opened #36 "New Regional division in Norway"
Norwegian region system has been remodeled in 2020. Here is the new regional divisions:
https://en.wikipedia.org/wiki/Counties_of_Norway

[2021-03-05 15:33] LennertSchepers commented on #29
Hi all, we are from the MarineRegions team and are currently working on providing our MarineRegions gazetteer as linked open data. We can try to create a mapping to GAZ but if there was any attempt yet we could maybe collaborate?
@brittlnv @marc-portier

[2021-03-08 08:20] kaiiam commented on #29
@cmungall tried to do some mappings a bit ago but I'm not sure how far he got.

@LennertSchepers the gaz files are available from https://github.com/EnvironmentOntology/gaz see the readme with links to the obo and owl versions. If you're unfamiliar with processing/using obo/owl you could use the [Robot](https://robot.obolibrary.org/) command line tool's export module to export the gaz obo or owl f

[2021-03-09 02:31] cmungall commented on #35
I think obsoletion is too strong. GAZ is mentioned in standards like MIxS. If we obsolete it, it will be unavailable in some browsers, confusing people. (although behavior is not consistent across browsers here)

I think that MIxS6 should recommend wikidata over GAZ. I made a ticket: https://github.com/GenomicsStandardsConsortium/mixs/issues/116

I don't think we should obsolete before MIxS ceases

[2021-03-09 04:37] ddooley opened #37 "Transitioning from GAZ to Wikidata - is there a comprehensive query?"
As a transition effort from GAZ to wikidata, I will try to figure out a comprehensive wikidata query that can retrieve all continents and countries of the world, and their states/provinces/territories, cities/towns/villages but before I start, has any GAZ curator already done this? I don't need the map from GAZ to Wikidata ID's - just the Wikidata hierarchy of things.  [EDIT: this would be used to

[2021-03-09 10:47] matentzn commented on #35
Ok! Sounds good! Happy with `inactive` as a compromise for now, but I would like to make it explicit somewhere that active ontologies in the OBO foundry should be logically consistent. Its just so annoying that I cant process it.. Would you at the very least agree if I made a PR to get rid of all the disjointness constraints?

[2021-03-09 16:13] lschriml commented on #35
Hello Nico,
   Unfortunately, there is no active development on the GAZ, although a
number of us did work on it together a couple of years ago.
The GSC will not be removing the GAZ specification for the MIxS standard.
And wikidata is not interested in importing the GAZ.
Instead, I would like to make the default file a country specific only
file.
Becky @beckyjackson  made a start on this, creating

[2021-03-09 16:15] lschriml commented on #37
Hello @ddooley,
    @matentzn has another ticket regarding this issue.
 Ideally, I would like to have a small GAZ be functional for all of our purposes.
The information we need is already in the GAZ, we just all need a much smaller GAZ.

Using SPARQL, couldn't we just pull out the country info from GAZ, create a GAZ_country file ?

Cheers,
Lynn

[2021-03-10 00:05] ddooley commented on #37
I have a specific GAZ file for country of the world, and one specific to the NCBI https://www.ncbi.nlm.nih.gov/genbank/collab/country/ list.  But my search for a query is one that is about preparing to drop GAZ for more commonly used geopolitical vocabulary; I had been thinking geonames, but wikidata entities sound fine too.  Thoughts?

[2021-03-10 01:19] lschriml commented on #37
Hello Damion,
    Can you share your country GAZ file ?
If you don’t mind, I can post it to the GAZ GitHub. Do you think aligning the NCBI list and GAZ is needed ?

Geonames is a good choice.
http://download.geonames.org/export/

Cheers,
Lynn

Sent from my iPhone

[2021-03-10 03:58] cmungall commented on #37
Here are some examples of geo queries using a framework I developed
https://github.com/cmungall/sparqlprog_wikidata

It would be v easy to do the kinds of queries you mention

On Mon, Mar 8, 2021, 20:37 Damion Dooley <notifications@github.com> wrote:

[2021-03-10 04:40] ddooley commented on #37
Ok, great, I'll check that out Chris.

Lynn: There's this GAZ to INSDC country/georegion/ocean mapping spreadsheet we did a while back for GenEpiO:
https://github.com/GenEpiO/genepio/blob/master/src/ontology/imports/INSDC%20to%20Gaz.xlsx

And this GAZ ontofox config file that includes all the INSDC geography names as well as US states, Canadian provinces, and a few other tidbits. Its easy to chop

[2021-03-10 04:43] ddooley commented on #37
And p.s. the INSDC geography names as listed by NCBI were motivated to fulfill NCBI Biosample /country field.

[2021-03-10 04:46] #37 closed

[2021-03-10 15:04] lschriml commented on #37
Thank you Damion !!

On Tue, Mar 9, 2021 at 11:43 PM Damion Dooley <notifications@github.com>
wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sciences
University of Maryland School of Medicine
Department of Epidemiology and Public Health
670 W. Baltimore St., HSFIII, Room 3061
Baltimore, MD 21201
P: 410-706-6776 |  F: 410-706-6756
lschriml@som.umaryland.edu

[2021-03-26 17:12] ddooley commented on #10
This is still a problem, stemming from "environmental material" in OntoBee Gaz: http://www.ontobee.org/ontology/GAZ?iri=http://purl.obolibrary.org/obo/ENVO_00010483

[2021-03-26 17:36] lschriml commented on #10
Hello Damion,
Is this causing an issue ?

Regarding GAZ, I working to revise GAZ, it has to be reduced in size by ~20% I order for it to be editable and saveable in GitHub. I’ve got the file to where I can edit it. Still working on removing duplications.
Lots of duplicate classes and instances.
Also looking at removing imports, splitting GAZ into two files ((1- countries, 2-oceans,/bodies of water

[2021-03-26 17:36] lschriml commented on #10
Agreed

Sent from my iPhone

[2021-03-26 18:05] ddooley commented on #10
It isn't causing an issue at my end.  Just looking to have GAZ repaired/improved.

[2021-04-01 16:48] lizumberfield opened #38 "How to cite?"
Greetings, I am interested in citing Gazeteer in a manuscript. Can you point me towards a publication or some other artifact you'd like me to cite to? Thank you.

Elizabeth Umberfield, PhD, RN
Postdoctoral Research Fellow
Public & Population Health Informatics
Regenstrief Institute and Indiana University Fairbanks School of Public Health
eeumberf@iu.edu

[2021-04-05 14:29] lschriml commented on #38
Hello Elizabeth,
   please cite:
Buttigieg, P.L., Morrison, N., Smith, B. *et al.* The environment ontology:
contextualising biological and biomedical entities. *J Biomed Semant* 4, 43
(2013). https://doi.org/10.1186/2041-1480-4-43

Cheers,
Lynn

On Thu, Apr 1, 2021 at 12:48 PM Elizabeth (Liz) Umberfield <
***@***.***> wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sci

[2021-06-08 12:21] cthoyt opened #39 "Add obofoundry topic to repo metadata"
The OBO Foundry has recently created a topics page at https://github.com/topics/obofoundry. It would be great if you could add the `obofoundry` topic to your repository, since it's currently listed as active in the OBO Foundry. If you're not sure how to do that, follow the instructions [here](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/classifying-your

[2021-07-14 18:28] mellybelly opened #40 "do we need GAZ?"
I don't understand why we need an ontology for this when other standards like [geonames](https://www.geonames.org/)  already exist. I view it more like the issues with making gene names available for axioms.

[2021-07-14 18:33] diatomsRcool commented on #40
I don't know enough about GAZ to have an opinion, but I've been using geonames.

[2021-07-14 18:42] cmungall commented on #40
see

 - #22 determine who is using GAZ, what their requirements are
 - #32 evaluate GAZ coverage
 - #3 upload GAZ to Wikidata, and use Wikidata as canonical instance source

[2021-07-14 18:47] mellybelly commented on #40
here are some other resources: https://researchguides.uoregon.edu/geocoding/placename

[2021-07-14 18:58] cmungall commented on #22
Working with @turbomam @wdduncan we now have a normalized tidied version of the INSDC sample database, so we can do some analysis of usage of GAZ with mixs:geo_loc_name

77159 distinct geo_loc_name values

GAZ IDs have been used 8 times in total in the whole database:

[code]

the vast majority of usages are simple strings, so it's not clear GAZ is not being meaningfully used or adds value beyond

[2021-07-15 00:09] cmungall commented on #40
I would use Wikidata

 - CC-0 license
 - accessible via SPARQL as well as downloads
 - rich spatial queries supported
 - rich interlinked data with each entry forming a massive KG
 - location instances are types using an ontology which we are mapping to ENVO -- https://github.com/cmungall/environments2wikidata
 - 100,00s of entries in wikidata that are not in geonames (AFAICT)

[2021-08-11 16:01] #38 closed

[2022-04-26 15:51] masciam opened #41 "Zip code ZCAT and geographic coordinate"
I am new to the GZ but I have recently start working on geospatial data and one of the issue I am having is the following
The data I am working on are capturing the zip code information but as you know this is a label for postal service and does not have any direct relation with the ZCAT and the geographic coordinates.
Is this the right place to raise this issue?